@import url('https://fonts.googleapis.com/css?family=Roboto');
$white: #ffffff;
$purple: #4710A3;
$grey: grey;

$border: 1px solid $grey;


body {
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
	max-width: 100vw!important;
	padding: 0;
	margin: 0;
    background-color: #F7F7F7;
    font-family: 'Roboto' !important;
}
html {
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
	max-width: 100vw!important;
	padding: 0;
	margin: 0;
	background-color: #F7F7F7;
}
h2{
    font-size: 18px;
    color: $purple;
    text-transform: uppercase;
    margin:0;
    font-weight: 600;
}
p, h3{
    margin: 0;
}
.flex{
    display: flex;
}
.small-icon{
    height: 25px;
    width: 25px;
    fill: $purple;
}
.margin{
    margin-top: 50px;
    margin-bottom: 50px;
}
li{
    list-style: none
}

/* loader */
.loader{
    margin: auto;
    width: 100vw;
    height: 100vh;
}
.LoaderBalls {
	width: 90px;
	display: flex;
	justify-content: space-between;
	align-items: center;
    height: 100%;
    margin-right: auto;
    margin-left: auto;

	&__item {
		// .LoaderBalls__wrapper__item
		$anim-drt: 0.4s;
		$anim-ease: cubic-bezier(.6,.05,.15,.95);
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background: $purple;

		&:nth-child(1) {
			animation: bouncing $anim-drt alternate infinite $anim-ease;
		}

		&:nth-child(2) {
			animation: bouncing $anim-drt $anim-drt/4 alternate infinite $anim-ease backwards;
		}

		&:nth-child(3) {
			animation: bouncing $anim-drt $anim-drt/2 alternate infinite $anim-ease backwards;
		}
	}
}

@keyframes bouncing {

	0% {
		transform: translate3d(0, 10px, 0) scale(1.2, 0.85);
	}

	100% {
		transform: translate3d(0, -20px, 0) scale(0.9, 1.1);
	}
}